<template>
    <div class="select-test-container">
        <h3 class="select-test-title">Choose Your Strip Type</h3>
        <p class="select-test-subtitle">You will be directed to a timer based on your strip type.</p>
        <div id="testOptionsGrid" class="test-options-grid"></div>
    </div>
    <div id="selectTestActionContainer" class="select-test-action">
        <button id="continueBtn" class="mdc-button mdc-button--raised" disabled><span class="mdc-button__label">Continue</span></button>
    </div>
</template>
