
#iconContainer {
	align-items: center;
	background-color: #ececec;
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
    cursor: pointer;
}

#iconContainer #addIcon {
	display: flex;
}

#iconContainer #addIcon img {
	width: 16px;
	height: 16px;
}

#iconContainer #parameterImage {
	display: none;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

#testInformation {
	margin-top: 24px;
}

.section-title {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 12px;
}

.editor-title {
	color: #5f5f5f;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.17px;
	line-height: 22px;
	margin: 12px 0;
}

.image-row {
	display: flex;
	justify-content: space-between;
	max-width: 60%;
	min-width: 160px;
	align-items: center;
	border-radius: 4px;
	margin: 24px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.5px;
}

.hidden {
	display: none;
}

.parameter-actions {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	padding: 12px 16px;
	background: #fff;
	z-index: 100;
}

.parameter-actions__btn {
	padding: 12px 40px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
	height: 34px;
	border-radius: 4px;
	padding: 7px 16px;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}

.parameter-actions__btn--cancel {
	background: #fff;
	color: #5f5f5f;
	border: 1px solid #ddd;
}

.parameter-actions__btn--save {
	background: #101010;
	color: #fff;
	border: none;
}

#rangeClarificationsContainer {
	margin-top: 12px;
	margin-bottom: 70px;
}

.results-clarifications-title {
	margin-top: 24px;
	margin-bottom: 24px;
}

#rangeClarificationsContainer h4 {
	margin-bottom: 12px;
	margin-top: 16px;
}

#rangeClarificationsContainer h4:first-child {
	margin-top: 0;
}
